body {
  background-color: #85a392; 
  color:#fdd998;
  font-family: Helvetica; 
  font-size: 17px;
}
h1 {
	color: #ffb0cd;
	font-family: Courier;
	font-weight: 100;
	font-size: 32px;
}
h2 {
	color: rgb(100, 100, 100);
	font-family: 'Playfair Display', serif;
	font-weight: lighter;
	font-size: 24px;
}
a {
	text-decoration: none;
	color: #efa8e4; 
	font-weight: bold;
}
a:hover {
	color: yellow; 
}

div{
  background: white;
  border: 2px white;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card-white {
	background-color: #84a9ac;
	padding: 15px;
	box-shadow: 0px 10px 30px rgba (0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 30px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #fcf7bb;
	color:#ffb0cd ; 
	padding: 5px 15px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: #84a9ac;
	color: yellow; 
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
#logo{
	width: 140px;
	border-radius: 30%;
}
.shadowed{
	box-shadow: 5px 5px 3px black;
}



